body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button:hover {
    opacity: 0.8;
}

.footer-button {
    width: auto;
    flex: none;
    padding: 10px 18px;
    margin: 4px;
    background-color: #04aa6d;
}

.footer-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Extra styles for the cancel button */
.checkboxes-settings {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
}

.checkboxes-settings label{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Extra styles for the cancel button */
.cancel-button {
    margin-right: auto;
    background-color: #f44336;
}

/* Center the image and position the close button */
.form-header {
    text-align: center;
    padding: 24px 0 16px 0;
    border-radius: 10px 10px 0 0;
    position: relative;
    background-color: #f1f1f1;
}

.form-body {
    padding: 16px;
}

.form-footer {
    padding: 16px;
    border-radius: 0 0 10px 10px;
    background-color: #f1f1f1;
    overflow: hidden;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-form-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.title {
    position: absolute;
    right: 20px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .footer-button {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .checkboxes-settings label{
        width: 100%;
    }
}